body, html{
    height: 100%;
    margin: 0;
}

.capa{
    background-image: url(https://raw.githubusercontent.com/dinhogehm/imagens-solar/main/energia-solar.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}